pom.xml
pom.xml.asc
*.jar
*.class
/ui/resources/public/js
/ui/build
build.dev
/lib/
/classes/
/target/
/checkouts/
/pgdata/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
